<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{.name}}</title>
    <script src="js/echarts.js"></script>
</head>
<body>


<table>
    <tr>
        <td valign="top">
            <table>
                <tr>
                    <td><b>基金编码：</b></td>
                    <td>{{.code}}</td>
                </tr>
                <tr>
                    <td><b>基金名称：</b></td>
                    <td>{{.name}}</td>
                </tr>
                <tr>
                    <td><b>基金类型：</b></td>
                    <td>{{.type}}</td>
                </tr>
                <tr>
                    <td><b>累计收益：</b></td>
                    <td>{{.accumulatedIncome}} | {{.accumulatedIncomePercent}}%</td>
                </tr>
                <tr>
                    <td><b>成本：</b></td>
                    <td>{{.cost}}</td>
                </tr>
            </table>
        </td>
        <td><div id="monthIncome" style="width: 600px;height:400px;"></div></td>
    </tr>
    <tr>
        <td><div id="main" style="width: 600px;height:400px;"></div></td>
        <td><div id="main2" style="width: 600px;height:400px;"></div></td>
    </tr>
</table>
</body>
</html>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '历史增长数据'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['基金净值','累计净值']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: [{{range .price}}'{{.Date}}',{{end}}]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'基金净值',
                    type:'line',
                    stack: '总量',
                    data:[{{range .price}}'{{.Jjjz}}',{{end}}]
                },
                {
                    name:'累计净值',
                    type:'line',
                    stack: '总量',
                    data:[{{range .price}}'{{.Ljjz}}',{{end}}]
                },
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main2'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '收益率'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['净值增长率', '收益增长率']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: [{{range .growth2}}'{{.Date}}',{{end}}]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'净值增长率',
                    type:'line',
                    stack: '总量',
                    data:[{{range .growth2}}'{{.Rate}}',{{end}}]
                },
                {
                    name:'收益增长率',
                    type:'line',
                    stack: '总量',
                    data:[{{range .transGrowth}}'{{.CurIncomeRate}}',{{end}}]
                },
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('monthIncome'));

    // 指定图表的配置项和数据
    option = {
        title : {
            text: '月收益',
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['收益','月份']
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : [{{range .monthIncome}}'{{.Date | convertmonth}}',{{end}}]
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'收益',
                type:'bar',
                data:[{{range .monthIncome}}'{{.Income}}',{{end}}],
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

