<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的基金列表</title>
    <script src="js/echarts.js"></script>
</head>
<body>


<table>
    <tr>
        <td>
            <table border="0" cellspacing="10" cellpadding="0" valign="top">
                <tr>
                    <td valign="top">
                        <table valign="top">
                            <tr>
                                <td valign="top">
                                    <table border="0" cellspacing="5" cellpadding="0" valign="top">
                                        <tr>
                                            <td><b>基金数量：</b></td>
                                            <td>{{.num}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>累计收益：</b></td>
                                            <td>{{.accumulatedIncome}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>收益率：</b></td>
                                            <td>{{.accumulatedIncomePercent}}%</td>
                                        </tr>
                                        <tr>
                                            <td><b>成本：</b></td>
                                            <td>{{.cost}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table border="0" align="right"  width="300">
                                        <tr align="right">
                                            <td valign="top"><iframe src="update.html" name="框架标识名" frameborder="边框" scrolling="yes"></iframe></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>   
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><b>基金编码</b></td>
                                <td><b>基金名称</b></td>
                                <td><b>基金类型</b></td>
                                <td><b>累计收益</b></td>
                                <td><b>收益率</b></td>
                                <td><b>成本</b></td>
                                <td><b>操作</b></td>
                            </tr>
                            {{range .funds}}
                            <tr>
                                <td>{{.Code}}</td>
                                <td>{{.Name}}</td>
                                <td>{{.FundType}}</td>
                                <td>{{.AccumulatedIncome}}</td>
                                <td>{{.AccumulatedIncomePercent}}%</td>
                                <td>{{.Cost}}</td>
                                <td><a href="/fundinfo?code={{.Code}}">查看</a></td>
                            </tr>
                            {{end}}
                        </table>
                    </td>

                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td valign="top"><div id="monthIncome" style="width: 600px;height:400px;"></div></td>
                </tr>
                <tr>
                    <td valign="top"><div id="pie" style="width: 600px;height:400px;"></div></td>
                </tr>
            </table>
        </td>
    </tr>
</table>


</body>
</html>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('monthIncome'));

    // 指定图表的配置项和数据
    option = {
        title : {
            text: '',
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['月收益','月份']
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : [{{range .monthIncome}}'{{.Date | convertmonth}}',{{end}}]
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'月收益',
                type:'bar',
                data:[{{range .monthIncome}}'{{.Income}}',{{end}}],
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('monthIncomePercent'));

    // 指定图表的配置项和数据
    option = {
        title : {
            text: '',
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['月收益率','月份']
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : [{{range .monthIncomePercent}}'{{.Date | convertmonth}}',{{end}}]
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'月收益率',
                type:'line',
                data:[{{range .monthIncomePercent}}'{{.Income}}',{{end}}],
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

<script type="text/javascript">
    var dom = document.getElementById("pie");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '嵌套环形图';

    option = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        //legend: {
        //    orient: 'vertical',
        //    x: 'right',
            //data:['混合型','债券型','FOF','指数型','富国天惠成长混合','海富通阿尔法对冲混合','景顺长城新兴成长混合','工银瑞信双利B','银华信用季季红债券A','招商双债增强债券','招商安心','易方达高等级信用债C','建信福泽安泰混合','华夏聚惠稳健目标A','汇添富中证主要消费ETF联接','景顺长城沪深300指数增强','建信中证500指数增强A']
        //},
        series: [
            {
                name:'访问来源',
                type:'pie',
                selectedMode: 'single',
                radius: [1, '39%'],

                label: {
                    normal: {
                        position: 'inner'
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:[
                    {{range .fundTypes}}
                        {value:{{.Cost}}, name:'{{.Name}}'},
                    {{end}}
                ]
            },
            {
                name:'访问来源',
                type:'pie',
                radius: ['40%', '55%'],
                label: {
                    normal: {
                        formatter: ' {b|{b}}\n{hr|}\n{c}{per|{d}%} ',
                        backgroundColor: '#eee',
                        borderColor: '#aaa',
                        borderWidth: 1,
                        borderRadius: 4,
                        // shadowBlur:3,
                        // shadowOffsetX: 2,
                        // shadowOffsetY: 2,
                        // shadowColor: '#999',
                        // padding: [0, 7],
                        rich: {
                            a: {
                                color: '#999',
                                lineHeight: 22,
                                align: 'center'
                            },
                            // abg: {
                            //     backgroundColor: '#333',
                            //     width: '100%',
                            //     align: 'right',
                            //     height: 22,
                            //     borderRadius: [4, 4, 0, 0]
                            // },
                            hr: {
                                borderColor: '#aaa',
                                width: '100%',
                                borderWidth: 0.5,
                                height: 0
                            },
                            b: {
                                fontSize: 12,
                                lineHeight: 33
                            },
                            per: {
                                color: '#eee',
                                backgroundColor: '#334455',
                                padding: [2, 4],
                                borderRadius: 2
                            }
                        }
                    }
                },
                data:[
                    {{range .fundTypeItems}}
                        {value:{{.Cost}}, name:'{{.Name}}'},
                    {{end}}
                ]
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>